.main-contain{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer{
    background-color: darkturquoise ;
}

textarea {
  resize: none;
}

.nav-bg{
    background-color:darkturquoise;
}

.input-form{
    flex-basis: 50%;
}

.todo{
    width: 40%;
}

.del-btn{
    min-width: 10%;
}